.form-signin {
    max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.top-border {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.shadow {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
}

.shadow-left {
    -webkit-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.75);
    box-shadow: -3px 0px 2px 0px rgba(0,0,0,0.25);
}

.img-group {
    width: 16.666666666666666666666666666666666666666vw;
    position: relative;
}

.img-custom-1 {
    display: block;
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.overlay {
    position: absolute;
    bottom: 0;
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.6);
    color: #f1f1f1;
    width: 100%;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}

.ol-tl {
    top: 0;
    left: 0;
}

.ol-tr {
    top: 0;
    right: 0;
}

.ol-bl {
    left: 0;
    bottom: 0;
}

.ol-br {
    right: 0;
    bottom: 0;
}

.img-group:hover .overlay {
    opacity: 1;
}

.filter {
    top: 20px;
    left: 20px;
    z-index: 1;
    position: fixed;
    background-color: rgba(43, 102, 154, 0.8);
}

#filter-button {
    border-radius: 100%;
    color: white;

    width: 40px;
    height: 40px;

    text-align: center;

    display: flex;

    justify-content: center;
    align-items: center;

    cursor: pointer;
}

#filter-container {
    padding: 10px;

    width: 280px;
    height: 500px;
    color: white;

    display: flex;

    flex-direction: column;
}

#filter-close-button {
    cursor: pointer;
}
#filter-close-button:hover {
    color: #d5e5f8;
}

@media only screen and (max-width: 700px) {
    .img-group {
        width: calc(100% / 2);
    }
}

@media only screen and (max-width: 1000px) and (min-width: 701px){
    .img-group {
        width: calc(100% / 3);
    }
}

@media only screen and (max-width: 1150px) and (min-width: 1001px){
    .img-group {
        width: calc(100% / 3);
    }
}

@media only screen and (max-width: 1400px) and (min-width: 1151px){
    .img-group {
        width: calc(100% / 4);
    }
}

@media only screen and (min-width: 1401px){
    .img-group {
        width: calc(100% / 4);
    }
}